<p id="notice"><%= notice %></p>

<%= content_for :title, 'Listing Bids' %>

<div class="row">
  <div class="col-md-12">


    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Observação</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @bids.each do |bid| %>
          <tr>
            <td><%= bid.id %></td>
            <td><%= bid.obs %></td>
            <td>
              <%= link_to bid.model, class: 'btn btn-secondary btn-xs' do %>
                <i class="fa fa-pencil"></i>
              <% end %>
              <%= link_to bid.model, method: delete, data: { confirm: 'Remover Bid?' }, class: "btn btn-danger btn-xs" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-12">
        <a href="#" class="btn btn-primary">Novo Bid</a>
        <a href="#" class="btn btn-secondary">Gravar e Sair</a>
        <a href="/estatisticas" class="btn btn-default">Cancelar</a>
      </div>
    </div>
  </div>
</div>