<%= content_for :title, 'Listando Bids' %>

<% if @bids.size == 0 %>
  <p class="notice">
    Você não tem nenhum bid pendente, <%= link_to "crie seu primeiro bid", new_bid_path %>!
  </p>
<% else %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <% @bids.headers.each do |header| %>
          <th><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @bids.each do |bid| %>
          <tr>
            <td><%= bid.id %></td>
            <td><%= bid.obs %></td>
            <td><%= bid.bidders_excerpt %></td>
            <td>
              <%= link_to edit_bid_path(bid.model), class: 'btn btn-secondary btn-xs' do %>
                <i class="fa fa-pencil"></i>
              <% end %>
              <%= link_to bid_choose_index_path(bid.model), class: bid.winner_chooser_class, title: bid.winner_chooser_title do %>
                <i class="fa fa-trophy"></i>
                <%= bid.responses_badge %>
              <% end %>
              <%= link_to bid.model, method: :delete, data: { confirm: 'Remover Bid?' }, class: "btn btn-danger btn-xs" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Novo Bid', new_bid_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- CSS urgente!! -->
<div class="row" style="background-image: linear-gradient(to bottom, #e9e9e9 0%, #ffffff 100%); padding: 15px 15px 5px 15px;margin-left: -15;margin-right: -15;margin-top: 15px;border-top-right-radius: 5px; border-top-left-radius: 5px;">
  <div class="content-header" class="margin-bottom: 15px;">
    <h2 class="content-header-title">Bids Pendentes</h2>
  </div> <!-- /.content-header -->
</div>

<% if @bids_to_response.size == 0 %>
  <p class="notice">
    Você não tem nenhum bid para responder, caso tenha recebido um convite, o bid pode ter sido removido!
  </p>
<% else %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <% @bids_to_response.headers.each do |header| %>
          <th><%= header %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @bids_to_response.each do |bid| %>
          <tr>
            <td><%= bid.id %></td>
            <td><%= bid.obs %></td>
            <td><%= bid.bidders_excerpt %></td>
            <td>

              <%
              #TODO presenter
              a = bid.model.responses.where(bidder: current_user).first

              if a == nil %>
                  <%= link_to accept_bid_path(bid.model), class: 'btn btn-secondary btn-xs', title: 'Aceitar bid' do %>
                    <i class="fa fa-thumbs-up"></i>
                  <% end %>
                  <%= link_to reject_bid_path(bid.model), class: "btn btn-danger btn-xs", title: 'Recusar Bid' do %>
                    <i class="fa fa-thumbs-down"></i>
                  <% end %>
              <% else
                if a.status == BidResponse.statuses[:accepted] %>
                  <i class="fa fa-thumbs-down"></i>
                <% else %>
                  <i class="fa fa-thumbs-up"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>