<%= content_for :title, 'Listing Bids' %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <% @bids.headers.each do |header| %>
          <th><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @bids.each do |bid| %>
          <tr>
            <td><%= bid.id %></td>
            <td><%= bid.obs %></td>
            <td><%= bid.bidders_excerpt %></td>
            <td>
              <%= link_to edit_bid_path(bid.model), class: 'btn btn-secondary btn-xs' do %>
                <i class="fa fa-pencil"></i>
              <% end %>
              <%= link_to bid_choose_index_path(bid.model), class: bid.winner_chooser_class, title: bid.winner_chooser_title do %>
                <i class="fa fa-trophy"></i>
                <%= bid.responses_badge %>
              <% end %>
              <%= link_to bid.model, method: :delete, data: { confirm: 'Remover Bid?' }, class: "btn btn-danger btn-xs" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Novo Bid', new_bid_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Bids pendentes</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <% @bids_to_response.headers.each do |header| %>
          <th><%= header %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @bids_to_response.each do |bid| %>
          <tr>
            <td><%= bid.id %></td>
            <td><%= bid.obs %></td>
            <td><%= bid.bidders_excerpt %></td>
            <td>

              <%
              #TODO presenter
              a = bid.model.responses.where(bidder: current_user).first

              if a == nil %>
                  <%= link_to accept_bid_path(bid.model), class: 'btn btn-secondary btn-xs' do %>
                    <i class="fa fa-thumbs-up"></i>
                  <% end %>
                  <%= link_to reject_bid_path(bid.model), class: "btn btn-danger btn-xs" do %>
                    <i class="fa fa-thumbs-down"></i>
                  <% end %>
              <% else
                if a.status == BidResponse.statuses[:accepted] %>
                  <i class="fa fa-thumbs-down"></i>
                <% else %>
                  <i class="fa fa-thumbs-up"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>