<%= content_for :title, "Escolher participante vencedor do Bid ##{@bid.id}" %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
        <td>#</td>
        <td>Nome</td>
        <td>Aceitou participar?</td>
        <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
        <% @bid.responses.each do |response| %>
          <tr>
            <td><%= response.id %></td>
            <td><%= response.bidder.name %></td>
            <td><%= response.status == 'accepted' ? 'Sim' : 'Não' %></td>
            <td>

              <% if @bid.winner.blank? %>
                <%= link_to bid_choose_path(@bid, response), title: 'Escolher como vencedor', method: :put, class: "btn btn-secondary btn-xs" do %>
                  <i class="fa fa-trophy"></i> Escolher como vencedor
                <% end
              else
                if (@bid.winner_id == response.id) %>
                  <span class="btn btn-success btn-xs">
                    <i class="fa fa-trophy"></i>
                  </span>
                <% end
                end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
